<!DOCTYPE html>
<html>
<head>
  <title>Clonebnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->

  <%= csrf_meta_tags %>

</head>

<body>

  <%= render 'shared/navbar'%>

  <%= link_to "Logout", logout_path, method: :delete %>

  <%= yield %> 
</body>
</html>